*.swp
*.swo
*.swn
.DS_Store
.npmrc
local-config.json
node_modules/
npm-debug.log
file_storage/
local-storage/
local-test/
data-contract-config.json
eth-contract-config.json
solana-program-config.json
aao-config.json
.nyc_output/
coverage/

src/notifications/browserPush/coliving.pushPackage/*.pem
src/notifications/browserPush/coliving.pushPackage/*.p8
src/notifications/browserPush/coliving.pushPackage/*.p12
src/notifications/browserPush/devPushPackage.zip
